---
import Button from "./Button.astro";
---

<header class="grid-lg">
    <div class="grid-sm">
        <h1 class="h1">FIGMA to Astro</h1>
        <p class="narrow text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nostrum hic fugit ad! Ut modi possimus saepe doloremque? Reiciendis porro sint incidunt inventore libero rerum vero quia illo non harum?</p>
    </div>
    <div class="grid-sm">
        <Button text="Contact Me" href="#" style="secondary" />
        <small class="text-muted">No commitment contact</small>
    </div>
</header>

